@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
body {
  font-family: var(--font-figtree);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sora);
}

.hero-title {
  text-shadow: 0 0 60px rgba(236, 72, 153, 0.2);
}